/*======= CORAL =======*/
.first-section, .about, .services, .portfolio, .team, .news, .contact {
background-color:coral;
background-image: -moz-radial-gradient(center center, circle cover,coral 0%, #BD3504 100%);
background-image: -webkit-radial-gradient(center center, circle cover,coral 0%, #BD3504 100%);
background-image: -o-radial-gradient(center center, circle cover,coral 0%, #BD3504 100%);
background-image: -ms-radial-gradient(center center, circle cover,coral 0%, #BD3504 100%);
background-image: radial-gradient(center center, circle cover,coral 0%, #BD3504 100%);
}