/*======= HOT PINK =======*/
.first-section, .about, .services, .portfolio, .team, .news, .contact {
background-color:hotPink;
background-image: -moz-radial-gradient(center center, circle cover, hotPink 0%, #1A246D 100%);
background-image: -webkit-radial-gradient(center center, circle cover, hotPink 0%, #1A246D 100%);
background-image: -o-radial-gradient(center center, circle cover, hotPink 0%, #1A246D 100%);
background-image: -ms-radial-gradient(center center, circle cover, hotPink 0%, #1A246D 100%);
background-image: radial-gradient(center center, circle cover, hotPink 0%, #1A246D 100%);
}
.about, .portfolio, .contact {
	color:#fff;
	background:#111;
}
.about a, .portfolio a, .contact a{
	color:#fff;
}
.about a.button, .portfolio a.button, .contact a.button{
	color:#fff;
}
.about a.button:hover, .portfolio a.button:hover, .contact a.button:hover{
	color:#111;
}

.about .bbot1 , .about .btop1, .about .bdot, 
.portfolio .bbot1, .portfolio .btop1, .portfolio .bdot, 
.contact .bbot1 , .contact .btop1, .contact .bdot,ul.blog-news li {
	border-color:rgba(255,255,255,0.5);
}
.contact-form label {
	color: #aaa;
}
.contact-form input[type=text] {
	background: transparent;
	color: #aaa;
	border:1px dashed #444;
}
.contact-form textarea {
	background:transparent;
	color: #aaa;
	border:1px dashed #444;	
}
/* Testimonials section */
#testimonials{
	background: #121B26;
	color: #D9C896;
}
#testimonials h5{
	color: #44545E;
}